# System directories and files
/Application Data/
/Cookies/
/Local Settings/
/My Documents/
/NetHood/
/PrintHood/
/Recent/
/SendTo/
/Start Menu/
/Templates/
*.dat
*.log
*.ini

# Add any other patterns for files and directories you want to ignore

